html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk0IDI4MS41NTQgNjguMjQzNEMyODIuMjUzIDY4Ljk4MjcgMjgyLjc1MyA2OS44MjcgMjgyLjc1MyA3MC43MjQ2IDI4Mi43NTMgNzEuNjIyMiAyODIuMjUzIDcyLjQ2NjQgMjgxLjU1NCA3My4yMDU4TDI2Ny4wNTIgODguNjU1MkMyNjYuMjA5IDg5LjU4NjcgMjY1LjAwNyA5MC4wNzA0IDI2My44MDYgOTAuMDcwNCAyNjIuNjA1IDkwLjA3MDQgMjYxLjQwMyA4OS41ODY3IDI2MC41NTkgODguNjU1MkwyNDYuMDU4IDczLjIwNThDMjQ1LjM1OSA3Mi40NjY0IDI0NC44NTkgNzEuNjIyMiAyNDQuODU5IDcwLjcyNDYgMjQ0Ljg1OSA2OS44MjcgMjQ1LjM1OSA2OC45ODI3IDI0Ni4wNTggNjguMjQzNEwyNjAuNTU5IDUyLjc5NCAyNjEuMDA1IDUyLjI2NThDMjYxLjc5NyA1MS40ODM3IDI2Mi44OTQgNTEgMjYzLjUwNiA1MVoiIGZpbGw9IiNGMjUwMjIiLz48L2c+PC9zdmc+) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
